use nix

export TELEGRAM_ID=$(pass personal/nba/telegram/id)
export TELEGRAM_TOKEN=$(pass personal/nba/telegram/token)
export LOCKERCODES_HOST=https://www.lockercodes.io/page-data
export LOCKERCODES_PATH=active-locker-codes/page-data.json